@import 'styles/shared';

@media screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .blur {
    min-height: 100vh;
    backdrop-filter: blur(50px);
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .balance {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .balance {
    margin-top: 20px;
  }
  .navBalanceCurrencyWrap {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .navTableWrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .navBalanceCurrencyWrap {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -40px;
      right: -40px;
      height: 100vh;
      border: 1px solid #e7e5f2;
      box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
        1px 0px 0px rgba(255, 255, 255, 0.6);
    }
  }

  .balance {
    margin: 30px 0;
  }
}
