.Button{
   width: 280px;
height: 50px;
left: 20px;
top: 482px;

background: #FFFFFF;
border: 1px solid #4A56E2;
box-sizing: border-box;
border-radius: 20px




   

     
}
Button:hover {
      background-color: #24CCA7;
      border-color: #24CCA7;
    }

.accent{ background-color: #24CCA7;
    color: #FFFFFF;
    border-color:#24CCA7}