@import '../../styles/shared.scss';

.progressBar {
  left: 0;
  bottom: 0px;
  width: 100%;
}

.formRegister {
  background-color: $white;
}

.logo {
  margin-left: 16px;

  font-size: 25px;
  line-height: 1.5;

  font-family: $secondaryFont;
  font-weight: $bold;
}

.logoIogoIcon {
  width: 40px;
  height: 40px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;

  border-bottom: 1px solid #e0e0e0;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.errors {
  position: absolute;
  left: 10px;
  top: 40px;
  color: $red;
  line-height: 1.1;
}

.mainBtn {
  border-radius: 20px;
  width: 280px;
  background-color: $white;
  border: 2px solid #4a56e2;
  padding-top: 13px;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;
  cursor: pointer;
  &:hover {
    background-color: $indigo-accent;
    color: $white;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoBtn {
  border: none;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #24cca7;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: #21b393;
  }
}

.input {
  border: none;
  outline-style: none;
  padding-left: 25px;
  width: 250px;
  height: 35px;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  position: relative;
}

@media screen and (min-width: 320px) {
  .formRegister {
    width: 320px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .formRegister {
    width: 540px;
    border-radius: 50px;
    padding-bottom: 60px;
    padding-top: 36px;
    margin: auto;
  }
  .label {
    margin-right: 65px;
    margin-left: 65px;
  }
  .input {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .formRegister {
    margin: 0 auto;
  }
}
