$indigo: #0090ff;
$indigo-accent: #0085eb;
$red: #f44336;
$red-accent: #ff6000;
$green: #4caf50;
$black: #2a2a2a;
$white: #fff;
$light-gray-accent: rgba(229, 229, 229, 0.58);
$dark-gray: #4c4c4c;
$light-gray: #e5e5e5;
$text-accent: #006bbe;
$main-text: #656565;
$shadow: rgba(0, 0, 0, 0.25);
