@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.otf') format('opentype');
  font-weight: 700;
}

$baseFont: 'Circe', sans-serif;
$secondaryFont: 'Poppins', sans-serif;

$small-regular: 350;
$regular: 400;
$Medium: 600;
$bold: 700;
$fat: 900;
