@import './shared.scss';

.MuiInputBase-root.MuiOutlinedInput-root {
  margin-bottom: 40px;
}

.MuiFormControl-root.MuiTextField-root {
  outline: none;
  border: none;
}

// .MuiInputBase-root.MuiInput-root {
//   border-width: 1px;
//   border-color: #bdbdbd;
// }

.MuiInputBase-input.MuiInput-input {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: $baseFont;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #bdbdbd;
}

.MuiInputBase-input.MuiInput-input:focus {
  border-color: red;
}

.MuiInputAdornment-root {
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .MuiOutlinedInput-input.MuiInputBase-input {
    text-align: center;
  }
}

.MuiFormControl-root {
  width: 100%;
}
