@import '../../styles/shared.scss';

.logoMobile {
  display: block;
  margin: 0 auto 50px;
}

.logo {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 280px;
  height: 34px;
  padding: 0 10px 0 46px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.formWrap {
  box-sizing: border-box;
  width: 320px;

  padding: 110px 20px;
  background-color: #ffffff;
}

.inputWrap {
  position: relative;
  margin-bottom: 40px;
}

.icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.errorMessage {
  position: absolute;
  left: 10px;
  bottom: -25px;

  font-size: 12px;
  color: #ff0000;
}

.button,
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-family: $baseFont;
  letter-spacing: 0.1em;
  cursor: pointer;

  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button {
  border: none;
  background-color: #24cca7;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #21b393;
  }

  &:disabled {
    background-color: #24cca893;
    color: #a8a7a7;
    cursor: not-allowed;
  }
}

.link {
  margin: 20px auto 0;
  border: 1px solid #4a56e2;

  & a {
    color: #4a56e2;
    padding: 10.5px 65px;
    border-radius: 20px;
    transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
      background-color: $indigo-accent;
      color: $white;
    }
  }
}

@media screen and (min-width: 768px) {
  .logoMobile {
    display: none;
  }

  .logo {
    display: block;
    margin: 0 auto 50px;
  }

  .formWrap {
    width: 540px;
    height: 468px;
    padding: 40px 0 60px;
    border-radius: 20px;
  }

  .inputWrap:nth-child(2) {
    margin-bottom: 50px;
  }

  .input {
    width: 410px;
  }

  .errorMessage {
    font-size: 14px;
  }
}
