@import 'styles/shared';

.tableRow {
  &:not(:last-child) {
    td {
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    }
  }
}

.plug {
  background-color: #ffffffe1;
  border: 2px solid #ff6596;
  border-radius: 30px;
  padding: 8px;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 32px;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.plugText {
  font-family: $baseFont;
  color: rgba(0, 0, 0, 0.85);
}

.plugPlus {
  font-weight: 400;
  font-size: 40px;
}
