@import '../../styles/shared.scss';

// .pageContainer {
//   position: relative;
//   display: flex;
//   outline: red solid 0.5px;
//   height: 720px;
//   //   width: 1280px;
//   box-sizing: border-box;
//   //   max-width: 1280px;
// }

// .leftSide {
//   //   position: relative;
//   //   width: calc(1280px - 720px);
//   //   width: 560px;
//   width: 44%;
//   //   height: 720px;
//   //   padding-top: 150px;
//   //   padding-left: 76px;
//   background-color: #e7eaf2;

//   & .ellipse {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     // width: 88.5%;
//   }

//   & .image {
//     position: relative;
//     top: 150px;
//     left: 76px;
//     max-width: 435px;
//     // z-index: 10;
//   }

//   & .text {
//     position: relative;
//     margin-top: 28px;
//     font-family: $secondaryFont;
//     font-size: 30px;
//     font-weight: $regular;
//     line-height: 45px;
//   }
// }

// .rightSide {
//   position: relative;
//   //   width: 720px;
//   //   height: 720px;
//   padding: 136px 85px 116px 95px;
//   background-color: rgba(255, 255, 255, 0.4);
//   //   backdrop-filter: blur(50px);
//   //   filter: blur(50px);
//   //   z-index: 10;

//   & .ellipse {
//     position: absolute;
//     top: 0;
//     right: 0;
//     // filter: blur(50px);
//   }
// }

// .loginForm {
//   position: relative;
//   width: 540px;
//   height: 468px;
//   outline: blue solid 1px;
//   z-index: 10;
// }

.pageContainer {
  box-sizing: border-box;
  display: block;
  width: 320px;
  height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 110px 20px 0;
  outline: red solid 0.5px;

  & .loginForm {
    width: 280px;
    height: 348px;
    outline: blue solid 0.5px;
  }

  & .text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .pageContainer {
    padding: 167px 114px 0;
    width: 768px;
    height: 1024px;
    background-color: #e7eaf2;
    background-image: url(../../images/Frame-tablet-login.png),
      url(../../images/Ellipse-grey.png), url(../../images/Ellipse-pink.png);
    background-repeat: no-repeat;
    background-position: top 60px left 114px, bottom left, top right -190px;

    & .text {
      display: block;
      font-family: $secondaryFont;
      font-size: 30px;
      font-weight: $regular;
      line-height: 45px;
      padding-left: 300px;
      margin-bottom: 148px;
    }

    & .loginForm {
      width: 540px;
      height: 468px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .pageContainer {
    position: relative;
    width: 1280px;
    height: 720px;
    padding: 0;
    padding-top: 598px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url(../../images/Frame-desktop-login.png),
      url(../../images/Ellipse-grey.png), url(../../images/Ellipse-pink.png),
      linear-gradient(
        to right,
        #e7eaf2 44%,
        rgba(255, 255, 255, 0.4) 44%,
        rgba(255, 255, 255, 0.4)
      );
    background-repeat: no-repeat;
    background-position: top 150px left 76px, bottom left, top right, 50% 50%;

    & .text {
      display: block;
      padding-left: 200px;
      margin-bottom: 0;
    }

    & .loginForm {
      position: absolute;
      top: 136px;
      right: 85px;
    }
  }
}
