@import 'styles/shared';

.wrapper {
  background-color: #e7eaf2;
}

.container {
  padding-top: 10px;
  overflow: hidden;
}

.currency {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
