@import 'styles/shared';

.closeModalButton {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCall {
  margin-bottom: 40px;

  font-family: $secondaryFont;
  font-weight: $regular;
  font-size: 24px;
  line-height: 1.5;

  text-align: center;
}

.input {
  margin-top: 40px;
  padding-left: 20px;
  padding-bottom: 10px;

  width: 100%;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;

  outline: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.placeholder {
  // font-family: $baseFont;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
}

.formWrapper {
  position: absolute;
  top: 75px;
  left: 0;

  width: 100vw;

  @media screen and (max-width: 768px) {
    bottom: 0;
  }
}

.selectWrapper {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.selectListWrapper {
  width: 100%;
  height: 352px;
  overflow: auto;

  position: absolute;
  top: 39px;
  left: 0;
  z-index: 2;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

.selectListItem {
  padding-left: 20px;
  padding-top: 8px;

  width: 100%;
  height: 44px;
  cursor: pointer;

  transition: background-color $timing-function 500ms;

  &:hover {
    background-color: #ffffff;
  }

  &:hover .option {
    color: #ff6596;
    font-weight: $bold;
  }
}

.option {
  font-family: $baseFont;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;

  transition: all $timing-function 500ms;
}

.transactionCategory {
  @extend .input;
  margin-top: 0;
}

.transactionCategory:disabled {
  @extend .transactionCategory;
  background: transparent;
}

.datepickerWrapper {
  position: relative;
}

.datepickerInput {
  @extend .input;
  margin-top: 20px;
}

.openSelectButton {
  // padding: 0;

  position: absolute;
  bottom: 17px;
  right: 23px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.transactionAmount {
  @extend .input;
  font-weight: 700;
}

.transactionTimestamp {
  @extend .input;
}

.transactionComment {
  @extend .input;
  padding-bottom: 50px;

  height: 72px;
  resize: none;
  overflow: hidden;
}

.transactionCategory::placeholder,
.transactionComment::placeholder {
  @extend .placeholder;
  font-weight: $regular;
}

.transactionAmount::placeholder {
  @extend .placeholder;
}

.hidden {
  // margin-bottom: 0;
  display: none;
  // visibility: hidden;
}

.button {
  padding-top: 13px;
  padding-bottom: 13px;

  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: none;
  border-radius: 20px;

  cursor: pointer;
}

.addTransactionBtn {
  @extend .button;
  margin-top: 40px;
  color: #ffffff;
  background-color: #24cca7;
}

.cancelTransactionBtn {
  @extend .button;
  margin-top: 20px;
  color: #4a56e2;
  background-color: #ffffff;
  border: 1px solid #4a56e2;
}

.formWrapper {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .formWrapper {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 65px;
    padding-right: 65px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 540px;
    min-height: 412px;

    background-color: #ffffff;
    border-radius: 20px;
  }
  .formCall {
    font-size: 30px;
  }

  .neighborInputsWrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  .transactionComment {
    height: 34px;
    padding-bottom: 10px;
    overflow: auto;
  }

  .closeModalButton {
    padding: 0;
    width: 16px;
    height: 16px;

    position: absolute;
    top: 20px;
    right: 20px;

    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.noBorder {
  border: none;
  outline: none;
}

.datepickerWrapper {
  width: 100%;
}
