@import '../../styles/shared.scss';

.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.overflow {
  overflow: visible;
}

@media screen and (min-width: 768px) {
  .mainWrapper {
    flex-wrap: wrap;

    min-height: 100vh;
  }

  .logoWrapper {
    display: flex;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 50px;

    & .text {
      font-family: $secondaryFont;
      font-size: 30px;
      line-height: 45px;
      margin-left: 40px;
    }
  }

  .logo {
    display: block;

    width: 260px;
    height: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .pageWrapper {
    overflow: hidden;
  }

  .mainWrapper {
    flex-wrap: nowrap;

    margin-top: 0;
  }

  .logoWrapper {
    align-items: unset;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
    & .text {
      margin-top: 28px;
    }
  }

  .logo {
    display: block;
    width: 435px;
    height: 420px;
  }

  .formWrapper {
    position: relative;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 95px;
    padding-right: 85px;
  }

  .blur {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
    top: 50%;
    left: 0;
    width: 150vh;
    height: 150vh;
    transform: translateY(-50%);
    backdrop-filter: blur(50px);
  }
}
