@import '../../styles/shared.scss';
// .pageWrapper {
//   position: relative;
// }

.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pageText {
  position: absolute;
  top: 163px;
  right: 153px;

  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  display: inline-block;

  color: $black;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    width: 100%;
    min-height: 100vh;
  }

  .mainWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    & .text {
      font-family: $secondaryFont;
      font-size: 30px;
      line-height: 45px;
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .pageWrapper {
    overflow: hidden;
  }

  .logo {
    display: inline-block;
    width: 435px;
    height: 420px;
  }

  .mainWrapper {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 0;
  }

  .logoWrapper {
    flex-direction: column;
    margin-bottom: 0;

    & .text {
      margin-top: 28px;
    }
  }

  .formWrapper {
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 95px;
    padding-right: 85px;
  }

  .blur {
    background-color: rgba(255, 255, 255, 0.4);
    width: 720px;
    backdrop-filter: blur(50px);
  }
}
