@import 'styles/shared';

.container {
  margin: 0 auto;
  padding: 0 20px;

  font-family: $baseFont;
  font-weight: $regular;
  line-height: 1.5;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 85px;
    width: 1280px;
  }
}
