.button {
  position: fixed;
  bottom: 30px;
  right: 20px;

  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  background-color: #24cca7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  cursor: pointer;

  @media screen and (min-width: 768px) {
    bottom: 40px;
    right: 40px;
  }

  @media screen and (min-width: 1280px) {
    right: 85px;
  }
}
